<div class="d-flex justify-content-between">
	<ParticipantName Name="@Sender" IsImportant="false"></ParticipantName>
</div>
<div class="d-flex flex-row justify-content-start">
	<Avatar IsMine="false" Name="@Sender"></Avatar>
		<div class="typing">			
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>	
</div>

@code {
	/// <summary>
	/// A sender of a busy marker, to present the avatar
	/// </summary>
	[Parameter] public required string Sender { get; set; }	
}
