<div class="d-flex justify-content-between">
	<p class="small mb-1">@Sender</p>
</div>
<div class="d-flex flex-row justify-content-start">
	<img src="@($"/avatars/{Sender.ToLower()}.png")" alt="" style="width: 55px; height: 100%;" class="rounded-circle">	
		<div class="typing">			
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>	
</div>

@code {
	/// <summary>
	/// A sender of a busy marker, to present the avatar
	/// </summary>
	[Parameter] public required string Sender { get; set; }	
}
