<div class="d-flex justify-content-between">
	<p class="small mb-1">@Sender</p>
</div>
<div class="d-flex flex-row justify-content-start">
	<img src="@($"/avatars/{Sender.ToLower()}.png")" alt="avatar 1" style="width: 55px; height: 100%;" class="rounded-circle">
	<div>
		<div class="typing">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
	</div>
</div>

@code {
	[Parameter] public string Sender { get; set; }	
}
