<div class="card-header d-flex justify-content-between align-items-center p-3"
	 style="border-top: 4px solid #ffa900;">
	<h5 class="mb-0">Suzaku</h5>
	<div class="d-flex flex-row align-items-center">
		<span class="badge bg-warning me-3">20</span>
		<i class="ti ti-minus me-3 text-muted"></i>
		<i class="ti ti-message me-3 text-muted"></i>
		<i class="ti ti-timeline text-muted fa-xs"></i>
	</div>
</div>

@code {

}
