@using Microsoft.Extensions.Options
@using Microsoft.JSInterop
@using Suzaku.Chat.Models
@using Suzaku.Chat.Services
@inject ChatHistory ChatHistory
@inject ICommunicationService CommunicationService
@inject ChatCommandService ChatCommandService
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject IOptions<ChannelConfiguration> Options

<div class="container py-5 vh-100">
	<div class="row d-flex justify-content-center">
		<div class="col-md-8 col-lg-6 col-xl-4">
			<div class="card" style="height: 90vh">
				<div class="card-header"
					 style="border-top: 4px solid #ffa900;">
					<div class="d-flex justify-content-between align-items-center">
						<ChannelSwitcher></ChannelSwitcher>
						<div class="d-flex flex-row align-items-center">
							<button class="btn btn-primary m-1" data-bs-target="#collapse1" data-bs-toggle="collapse"><i class="ti ti-paperclip"></i></button>
						</div>
					</div>
					<div class="collapse" id="collapse1">
						<ChatAttachmentUpload OnSendFile="OnSendFileAsync"></ChatAttachmentUpload>
					</div>
				</div>
				<div class="card-body overflow-auto" @ref="listRef">
					<ChatElementsView Elements="displayedElements"></ChatElementsView>
				</div>
				<div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
					<ChatInput OnSend="OnSendAsync"></ChatInput>
				</div>
			</div>

		</div>
	</div>

</div>

@code {
	private ElementReference listRef;

	private List<Element> displayedElements = null!;


	private void ScrollToEnd()
	{
		JS.InvokeVoidAsync("scrollToEnd", new object[] { listRef });
	}

	protected override void OnInitialized()
	{
		ChatHistory.ChannelHistoryUpdated += OnChannelHistoryUpdated;

		displayedElements = ChatHistory.GetCurrentChannelElements();
	}

	protected override void OnAfterRender(bool firstRender)
	{
		ScrollToEnd();
		base.OnAfterRender(firstRender);
	}

	public async Task OnChannelHistoryUpdated()
	{
		await InvokeAsync(() =>
		{
			displayedElements = ChatHistory.GetCurrentChannelElements();
			StateHasChanged();
		});

		ScrollToEnd();
	}

	public async Task OnSendAsync(string text)
	{
		if (ChatCommandService.IsCommand(text))
		{
			var result = await ChatCommandService.ExecuteCommandAsync(text);
			if (result != null)
			{
				ChatHistory.AddElement(result, ChatHistory.CurrentChannel.Name);
			}
		}
		else
		{
			await CommunicationService.PublishUserMessageAsync(text, ChatHistory.CurrentChannel.CurrentConversationId, ChatHistory.CurrentChannel.Name);
		}
	}

	public async Task OnSendFileAsync(string fileName)
	{
		await CommunicationService.PublishUserAttachmentAsync(fileName, ChatHistory.CurrentChannel.CurrentConversationId, ChatHistory.CurrentChannel.Name);
	}

	public void Dispose() => ChatHistory.ChannelHistoryUpdated -= OnChannelHistoryUpdated;
}
