@using Microsoft.JSInterop
@using Suzaku.Chat.Services
@inject ChatHistory ChatHistory
@inject MqttService MqttService
@inject ChatCommandService ChatCommandService
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<div class="container py-5 vh-100">
	<div class="row d-flex justify-content-center">
		<div class="col-md-8 col-lg-6 col-xl-4">
			<div class="card" style="height: 90vh">
				<div class="card-header"
					 style="border-top: 4px solid #ffa900;">
					<div class="d-flex justify-content-between align-items-center">
						<div class="dropdown">
							<button class="btn btn-outline-secondary dropdown-toggle btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								@chatName
							</button>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/">Group chat</a></li>
								@foreach (var item in ChatHistory.GetAllChatNames().Where(x => x is not null))
								{
									<li><a class="dropdown-item" href="/@item.ToLower()">@item</a></li>
								}
								<li><span class="dropdown-item"><form @onsubmit="NewChatEntered"><InputText class="form-control" @bind-Value="newChat"></InputText></form></span></li>
							</ul>
						</div>
						<div class="d-flex flex-row align-items-center">
							<button class="btn btn-primary m-1" data-bs-target="#collapse1" data-bs-toggle="collapse"><i class="ti ti-paperclip"></i></button>
						</div>
					</div>
					<div class="collapse" id="collapse1">
						<ChatAttachmentUpload OnSendFile="OnSendFile"></ChatAttachmentUpload>
					</div>
				</div>
				<div class="card-body overflow-auto" @ref="listRef">
					<ChatElementsView Elements="@elements"></ChatElementsView>
				</div>
				<div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
					<ChatInput OnSend="OnSend"></ChatInput>
				</div>
			</div>

		</div>
	</div>

</div>

@code {
	[Parameter] public string? ChatName { get; set; }
	private IList<Suzaku.Chat.Models.Element> elements = null!;
	private ElementReference listRef;
	private string? newChat;
	private string chatName = "Suzaku";

	private void ScrollToEnd()
	{
		JS.InvokeVoidAsync("scrollToEnd", new object[] { listRef });
	}

	private void NewChatEntered()
	{
		NavigationManager.NavigateTo($"/{newChat}");
	}

	protected override void OnInitialized()
	{
		ChatHistory.Notify += OnNotify;
		elements = ChatHistory.GetAllElements(ChatName);

		if (ChatName != null)
		{
			chatName = $"Suzaku (@{ChatName})";
		}
	}

	protected override void OnAfterRender(bool firstRender)
	{
		ScrollToEnd();
		base.OnAfterRender(firstRender);
	}

	public async Task OnNotify()
	{
		await InvokeAsync(() =>
		{
			elements = ChatHistory.GetAllElements(ChatName);
			StateHasChanged();
		});

		ScrollToEnd();
	}

	public async Task OnSend(string text)
	{
		if (ChatCommandService.IsCommand(text))
		{
			var result = ChatCommandService.ParseCommand(text);
			if (result != null)
			{
				ChatHistory.AddElement(result);
			}
		}
		else
		{
			await MqttService.PublishUserMessage(text, ChatCommandService.ConversationId, ChatName);
		}
	}

	public async Task OnSendFile(string fileName)
	{
		await MqttService.PublishUserAttachment(fileName, ChatCommandService.ConversationId, ChatName);
	}

	public void Dispose() => ChatHistory.Notify -= OnNotify;
}
